<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JobApplication</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicantServlet</display-name>
    <servlet-name>ApplicantServlet</servlet-name>
    <servlet-class>ApplicantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicantServlet</servlet-name>
    <url-pattern>/ApplicantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationServlet</display-name>
    <servlet-name>ApplicationServlet</servlet-name>
    <servlet-class>ApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationServlet</servlet-name>
    <url-pattern>/ApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminservlet</display-name>
    <servlet-name>Adminservlet</servlet-name>
    <servlet-class>AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminservlet</servlet-name>
    <url-pattern>/Adminservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailsServlet</display-name>
    <servlet-name>DetailsServlet</servlet-name>
    <servlet-class>DetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsServlet</servlet-name>
    <url-pattern>/DetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectServlet</display-name>
    <servlet-name>RejectServlet</servlet-name>
    <servlet-class>RejectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectServlet</servlet-name>
    <url-pattern>/RejectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectServlet</display-name>
    <servlet-name>SelectServlet</servlet-name>
    <servlet-class>SelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectServlet</servlet-name>
    <url-pattern>/SelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editServlet</display-name>
    <servlet-name>editServlet</servlet-name>
    <servlet-class>EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editServlet</servlet-name>
    <url-pattern>/editServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminServlet</display-name>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/adminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>applicantServlet</display-name>
    <servlet-name>applicantServlet</servlet-name>
    <servlet-class>ApplicantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>applicantServlet</servlet-name>
    <url-pattern>/applicantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>applicationServlet</display-name>
    <servlet-name>applicationServlet</servlet-name>
    <servlet-class>ApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>applicationServlet</servlet-name>
    <url-pattern>/applicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detailsServlet</display-name>
    <servlet-name>detailsServlet</servlet-name>
    <servlet-class>DetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailsServlet</servlet-name>
    <url-pattern>/detailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editservlet</display-name>
    <servlet-name>Editservlet</servlet-name>
    <servlet-class>EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editservlet</servlet-name>
    <url-pattern>/Editservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>homeServlet</display-name>
    <servlet-name>homeServlet</servlet-name>
    <servlet-class>HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeServlet</servlet-name>
    <url-pattern>/homeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rejectServlet</display-name>
    <servlet-name>rejectServlet</servlet-name>
    <servlet-class>RejectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rejectServlet</servlet-name>
    <url-pattern>/rejectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectServlet</display-name>
    <servlet-name>selectServlet</servlet-name>
    <servlet-class>SelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectServlet</servlet-name>
    <url-pattern>/selectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateServlet</display-name>
    <servlet-name>updateServlet</servlet-name>
    <servlet-class>UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
</web-app>